node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo

# Local env
.env
.env.*
!.env.example

# Native builds
android/
ios/

# Misc
.DS_Store
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
